
	
  body{
   background: #D3959B;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #BFE6BA, #D3959B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #BFE6BA, #D3959B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
		h1{
			text-align: center;
		}
		table{
			align-content: center;
			justify-content: center;
			margin: 0 auto;
      text-align: center;
		}
		table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: center;
}
#ts{
	margin-top: 10px;
	}
	#t2{
		margin-bottom: : 10px;
	}

@media(max-width: 476px){
  table{
    width: 50%;
  }
}
h6{
	color: black;
	font-family: fantasy;
	text-decoration: initial;
}
.course{
	text-transform: uppercase;
}


